<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Author:</strong>
  <%= @post.author %>
</p>

<p>
  <strong>Time:</strong>
  <%= @post.created_at%>
</p>

<table>
  <tr>
    <th>commenter</th>
    <th>body</th>
    <th>time</th>

  </tr>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
    <tr>
      <td><%= comment.commenter %></td>
      <td><%= comment.body %></td>
    
      <td><%= comment.created_at %></td>
    <%end%>

  </tr>
</table>



<h2>Add a comment:</h2>
<%= render "comments/form"%>


<%= link_to 'Back', posts_path %>
| <%= link_to 'Edit', edit_post_path(@post) %>